* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body { 
    height: 100svh;
    color: var(--text-1);
    width: 100%;
    background-color: var(--bg-1);
    scroll-behavior: smooth;
}
body {
}
* {
    font-family: var(--font);
}
.editor-main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    padding: var(--padding-w3);
    padding-top: 148px;
    padding-bottom: 0px;
    /* TODO add option in theme */
    padding-left: 0;
    padding-right: 0;
}

.plugin-icon {
    filter: var(--themed-svg);
    width: 22px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-w2);
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;   transition: opacity 0.5s;
    z-index: 69; /* nice */
    background-color: var(--bg-1);
}
.nav-plugins {
    display: flex;
    gap: var(--gap-2);
}
.nav-button {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-1);
    cursor: pointer;
    padding: var(--padding-2);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-button:hover {
    background-color: var(--bg-3);
}

.hidden {
    display: none;
}

.nav-top-icons {
    height: 32px;
    display: flex;
    gap: var(--gap-2);
}

.left-sidebar-title, .right-sidebar-title, .mini-dialog-title {
    font-weight: 500;
}

.left-buttons {
    opacity: 0;
    mix-blend-mode: difference;
    filter: invert(100%) contrast(1000%) brightness(1000%);
    width: 22px;
}

.rndr:hover > .left-buttons {
    opacity: 1;
}

.rndr > *:last-child {
    flex: 1;
}

.left-buttons {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid var(--bg-1);
    border-radius: var(--radius);
    padding: var(--padding-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-buttons:hover {
    background-color: var(--bg-2);
    border: 1px solid var(--text-2);
}

.rndr {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.rndr > * {
    flex: 1;
}

.left-buttons img {
    width: 16px;
}

.rndr {
    position: relative;
    width: 100%;
    padding: 0 max(calc((100% - 850px) / 2), var(--padding-4));
    overflow-x: auto;
    overflow-y: hidden;
}

.hover-images {
    top: 0;
    display: none;
    justify-content: flex-end;
    padding-right: 10px;
    width: 80px;
    align-items: center;
    height: 100%;
    right: calc(100%);
    top: 50%;
    padding: 10px;
    white-space: nowrap;

    z-index: 40;
}

.rndr:hover .hover-images {
    display: flex;
}

@media (max-width: 1150px) {
    .hover-images {
        left: 0px;
        height: auto;
        padding: 0;
        justify-content: space-between;
        border: 1px solid var(--border-1);
        border-radius: var(--radius);
    }
}

.hover-image {
    width: 34px;
    height: 34px;
    padding: 8px;
    display: block;
    cursor: pointer;
    border-radius: var(--radius);
    transition: background-color 0.2s;
}

.hover-image:hover {
}

@media (min-width: 900px) {
    .nav-disappear {
        opacity: 0;
    }
}

.main {
    display: flex;
    width: 100svw;
    height: 100svh;
}

.mix {
    height: 100svh;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    transform: translateZ(0); /* haha thanks patrick https://stackoverflow.com/a/38796408 - this will keep the fixed children in place */
}

.editor {
    overflow: auto;
    display: flex;
    height: 100svh;
    flex-direction: column;
    position: relative;
}

.full-width-wrapper {
    width: 100%;
    position: relative;
}

.full-width-wrapper:last-child {
    width: 100%;
}

*::-webkit-scrollbar { width: 15px; }
*::-webkit-scrollbar-track { background: var(--bg-1); }
*::-webkit-scrollbar-thumb { background-color: var(--bg-3); border-radius: 20px; border: 4px solid var(--bg-1); }
*::-webkit-scrollbar-thumb:hover { background-color: var(--text-1); }

.editor {
  container-type: inline-size;
}

@container (max-width: 1150px) {
  .full-width-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hover-images {
    left: 0px;
    height: auto;
    padding: 0;
    justify-content: space-between;
    border: 1px solid var(--border-1);
    border-radius: var(--radius);
  }
}

@container (min-width: 1150px) {
  .hover-images {
    position: absolute;
    transform: translateY(-50%);
  }
  
  .rndr-full-width {
    padding: 0 20px;
  }
  
  .rndr-full-width > .full-width-wrapper > .hover-images {
    left: 0px;
    height: auto;
    padding: 0;
    justify-content: space-between;
    border: 1px solid var(--border-1);
    border-radius: var(--radius);
    position: relative;
    transform: translateY(0);
  }
  
  .rndr-full-width > .full-width-wrapper {
    display: flex;
    flex-direction: column;
  }
}

#last-space {
    padding: 100px max(calc((100% - 850px) / 2), var(--padding-4)); 
    flex: 1; 
    display: flex; 
    align-items: flex-start; 
    flex-direction: column; 
    justify-content: flex-end; 
    gap: var(--gap-3);
}

