* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: var(--padding-w2);
    background: var(--bg-1);
    z-index: 100;
}
