:root {
    --bg-1: #ffffff;
    --bg-2: #f0f0f0;
    --bg-3: #d3d3d3;
    --text-1: rgb(55, 53, 47);
    --text-2: #808080;
    --border-1: #e0e0e0;
    --fg-red: #ff0000;
    --bg-red: #fff0f0;
    --fg-green: #2ecc71;
    --bg-green: #f0fff7;
    --fg-blue: #0000ff;
    --bg-blue: #f0f0ff;
    --fg-yellow: #ffd700;
    --bg-yellow: #fffdf0;
    --fg-purple: #9b59b6;
    --bg-purple: #f8f0ff;
    --fg-cyan: #00bcd4;
    --bg-cyan: #f0fcff;
    --fg-orange: #ff8c00;
    --bg-orange: #fff4e8;
    --fg-white: #ffffff;
    --bg-white: #ffffff;
    --fg-black: #000000;
    --bg-black: #000000;
    --font: 'Inter', sans-serif;
    --font-cursive: 'Satisfy', cursive;
    --font-heading: 'Plus Jakarta Sans', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 4px;
    --radius-large: 12px;
    --padding-1: 2px;
    --padding-2: 4px;
    --padding-3: 8px;
    --padding-4: 16px;
    --padding-w1: 8px 16px;
    --padding-w2: 10px 20px;
    --gap-1: 5px;
    --gap-2: 10px;
}
